.camera-frame{
    position:relative;
    z-index: 10;
}

.blurred{
    opacity: 50%;
    background: black;
}

.webcam{
    position: relative;
    height: 100%;
    width: 100%;
    /* temporary margin */
}