.select-prompt,
.record {
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 2;
}

/* .record {
    margin-bottom: 0em;
} */

.select-prompt {
    margin: 1em;
}

.recordBtn {
    width: 150px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 25px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    border-width: none;
    display: block;
    position: relative;
    justify-content: center;
}

.recordBtn {background-image: linear-gradient(to right, #1A2980 0%, #26D0CE  51%, #1A2980  100%)}

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }


.prompt-button {
    width: 150px;
    margin: 1px 10px;
    padding: 15px 25px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    border-width: none;
    display: block;
}

.prompt-button:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}