.select-prompt, .record{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    color: black;
}

.record{
    margin-bottom: 1em;
}

.select-prompt{
    margin: 1em;
}

.prompt-button{
    border-radius: 1em;
    width:7em;
}