.error-message, .record-error-message{
    position:absolute;
    color: black;
    z-index: 10;
}

.record-error-message{
    background: pink;
}

.error-message{
    background: pink;
}

#screenshare-video{
    max-height: 25em;
    position:relative;
    z-index: 1;
  }